*{
    margin: 0;
    padding: 0;
}
.header{
    height: 56px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  position: relative;
}
.header-nav{
    
    background-color: #fff;
    z-index: 200;
    
}
.header-nav .nav-menu-search{
    text-decoration: none;
    margin-top: 8px;
    color: grey;
}
.header-nav .nav-menu-search:hover{
    text-decoration: none;
    color: grey;
   
}
.header-nav .mr-auto {
    float: right;
  
}
.header-btn{
    background-color: #fff;
    z-index: 200;
   
}
.header-btn .logout{
  
   background-color: seagreen;
   border-color: seagreen;
  float: right;
}
.header-btn .btn-myaccount{
    float: right;
}
@media (max-width: 1200px) {
    .header-btn .logout{
  
        background-color: seagreen;
        border-color: seagreen;
        float: left;
        margin-top: 166px;
       
     }
    
  }
  @media (max-width: 1200px) {
    .header-btn .btn-myaccount{
        float: left;
        margin-top: 166px;
    }
     
    
  }
  @media (max-width: 1200px) {
    .header-nav {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        height: 219px;
        width: 100%;
        background-color: #fff;
    }
    
     
   
  }
  @media (max-width: 1200px) {
    .header-nav .mr-auto {
        float: left;
        padding-left: 15px;
        position: absolute;
    }
}
@media (max-width: 1200px) {
.header{
    height: 56px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    
    
    
}
}